@model IList<WaiMai.UI.Models.MenuGroupDto>

@{
    Layout = null;
    
}

<style type="text/css">

                li {
                    list-style: none;
               padding: 0;
               margin: 0;
                font: 11px verdana, arial, sans-serif;
                vertical-align: middle;
               }

                    li a {
                       display: block;
                       /* 如果是中英文混排的文字，建议用固定宽度
    width:150px;
    height:30px;
    line-height:30px;
    text-align:center;
    */
                      
                       padding: 3px;
                       color: #146C9C;
                        vertical-align: middle;
                   }

                       li a:hover {
                           background: #146C9C;
                           color: #fff;
  
                           cursor: pointer;
                       }

                        li a.last {
                           border-right: 0; /* 去掉左侧边框 */
                       }
</style>
@*<p><a href="javascript:void(0)" ico="@m.Ico" src="@m.Url" class="MenuLink"><i class="fa fa-book fa-2x"></i>&nbsp; @m.Text</a></p>*@
@foreach (var mg in @Model)
    {
        <div title="@mg.Text" iconcls="icon-edit" style="padding: 10px; overflow: auto;">
                        @foreach (var m in mg.MenuDtos)
                        {
                            <li><a src="@m.Url" class="MenuLink"><i class="fa fa-tag fa-2x"></i>&nbsp; @m.Text</a></li>
                        }
        </div>
    }
           
